In [2]:
import pandas as pd
from datetime import datetime

In [3]:
charts = pd.read_csv('../data/charts.csv')

In [4]:
charts = charts.drop_duplicates(subset=['song','artist'])

In [5]:
charts['date'] = pd.to_datetime(charts['date'])

In [6]:
charts['release_year'] = charts.date.dt.year

In [7]:
charts.head(1)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021

In [8]:
charts.dtypes

date              datetime64[ns]
rank                       int64
song                      object
artist                    object
last-week                float64
peak-rank                  int64
weeks-on-board             int64
release_year               int32
dtype: object

In [9]:
hit_songs = charts.loc[(charts['peak-rank'] >= 1) & (charts['peak-rank'] <= 10)]

In [10]:
hit_songs

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3,2021
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,2021
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,2021
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19,2021
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18,2021
...,...,...,...,...,...,...,...,...
329272,1958-09-29,86,When,Kalin Twins,64.0,5,9,1958
329338,1958-09-22,52,Rebel-'rouser,Duane Eddy His Twangy Guitar And The Rebels,41.0,6,8,1958
329358,1958-09-22,72,Splish Splash,Bobby Darin,58.0,3,8,1958
329380,1958-09-22,94,Hard Headed Woman,Elvis Presley With The Jordanaires,78.0,4,8,1958
329476,1958-09-15,90,Yakety Yak,The Coasters,74.0,7,7,1958

In [11]:
hit_count = hit_songs.artist.value_counts().to_frame().reset_index()

In [12]:
hit_count.dtypes

artist    object
count      int64
dtype: object

In [13]:
hit_count.loc[(hit_count['count'] == 1)]

                                           artist  count
753                                David Naughton      1
754                         Tony Camillo's Bazuka      1
755                                   C.W. McCall      1
756             Donna Summer With Brooklyn Dreams      1
757                                     The Clash      1
...                                           ...    ...
2482                             Voices Of Theory      1
2483              Puff Daddy Featuring Jimmy Page      1
2484                    Mase Featuring Puff Daddy      1
2485                                  Tatyana Ali      1
2486  Duane Eddy His Twangy Guitar And The Rebels      1

[1734 rows x 2 columns]

In [14]:
hit_songs = pd.merge(hit_songs, hit_count, on='artist', how='inner')

In [16]:
hit_songs['date'] = hit_songs.release_year.astype(int)

In [25]:
 hit_songs = hit_songs[~hit_songs['artist'].str.contains('/|&|Featuring|ft')].reset_index()

In [32]:
hits_80s = hit_songs.loc[(hit_songs['count'] == 1) & (hit_songs['date'] >= 1980)&(hit_songs['date'] <= 1989)]

In [34]:
hits_90s = hit_songs.loc[(hit_songs['count'] == 1) & (hit_songs['date'] >= 1990)&(hit_songs['date'] <= 1999)]

In [36]:
hits_2000to2010 = hit_songs.loc[(hit_songs['count'] == 1) & (hit_songs['date'] >= 2000)&(hit_songs['date'] <= 2019)]

In [37]:
hits_2000to2010

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board,release_year,count
274,365,2019,42,Sweet But Psycho,Ava Max,34.0,10,35,2019,1
277,374,2019,50,Thotiana,Blueface,50.0,8,20,2019,1
278,377,2019,50,Youngblood,5 Seconds Of Summer,50.0,7,48,2019,1
279,381,2019,47,Mo Bamba,Sheck Wes,43.0,6,28,2019,1
283,390,2018,50,Boo'd Up,Ella Mai,42.0,5,35,2018,1
...,...,...,...,...,...,...,...,...,...,...
1037,1498,2000,45,U Know What's Up,Donell Jones,41.0,7,24,2000,1
1038,1499,2000,54,I Wanna Love You Forever,Jessica Simpson,42.0,3,20,2000,1
1052,1514,2000,39,Steal My Sunshine,Len,30.0,9,25,2000,1
1053,1515,2000,42,Mambo No. 5 (A Little Bit Of...),Lou Bega,32.0,3,22,2000,1
1056,1518,2000,97,We Can't Be Friends,Deborah Cox With R.L.,80.0,8,20,2000,1

In [38]:
hits_80s.to_csv('../data/80s_charts.csv')

In [39]:
hits_90s.to_csv('../data/90s_charts.csv')

In [40]:
hits_2000to2010.to_csv('../data/2000s_2010s_charts.csv')