In [1]:
import pandas as pd

In [2]:
charts = pd.read_csv('../data/charts.csv')

In [3]:
charts = charts.drop_duplicates(subset=['song','artist'])

In [4]:
charts['date'] = charts.date.str[:4].astype(int)

In [5]:
charts.head(1)

   date  rank        song artist  last-week  peak-rank  weeks-on-board
0  2021     1  Easy On Me  Adele        1.0          1               3

In [6]:
charts.dtypes

date                int32
rank                int64
song               object
artist             object
last-week         float64
peak-rank           int64
weeks-on-board      int64
dtype: object

In [7]:
hit_songs = charts.loc[(charts['peak-rank'] == 1)]

In [10]:
hit_count = hit_songs.artist.value_counts().to_frame().reset_index()

In [15]:
hit_count.dtypes

artist    object
count      int64
dtype: object

In [16]:
hit_count.loc[(hit_count['count'] == 1)]

                            artist  count
166                           Styx      1
167                   Harry Chapin      1
168  Barbra Streisand/Donna Summer      1
169                   Carl Douglas      1
170                    John Lennon      1
..                             ...    ...
743                       Stevie B      1
744                    Vanilla Ice      1
745                   James Ingram      1
746                    Maxi Priest      1
747               Domenico Modugno      1

[582 rows x 2 columns]

In [18]:
hit_songs = pd.merge(hit_songs, hit_count, on='artist', how='inner')

In [22]:
hits_40 = hit_songs.loc[(hit_songs['count'] == 1) & (hit_songs['date'] >= 1980)&(hit_songs['date'] <= 2019)]

In [31]:
one_hit_wonders = hits_40[~hits_40['artist'].str.contains('/|&|Featuring|ft')].reset_index()