In [15]:
import pandas as pd
from datetime import datetime

In [16]:
charts = pd.read_csv('../data/charts.csv')

In [3]:
charts = charts.drop_duplicates(subset=['song','artist'])

In [4]:
charts['date'] = charts.date.str[:4].astype(int)

In [5]:
charts.head(1)

   date  rank        song artist  last-week  peak-rank  weeks-on-board
0  2021     1  Easy On Me  Adele        1.0          1               3

In [6]:
charts.dtypes

date                int32
rank                int64
song               object
artist             object
last-week         float64
peak-rank           int64
weeks-on-board      int64
dtype: object

In [7]:
hit_songs = charts.loc[(charts['peak-rank'] == 1)]

In [8]:
hit_count = hit_songs.artist.value_counts().to_frame().reset_index()

In [9]:
hit_count.dtypes

artist    object
count      int64
dtype: object

In [10]:
hit_count.loc[(hit_count['count'] == 1)]

                            artist  count
166                           Styx      1
167                   Harry Chapin      1
168  Barbra Streisand/Donna Summer      1
169                   Carl Douglas      1
170                    John Lennon      1
..                             ...    ...
743                       Stevie B      1
744                    Vanilla Ice      1
745                   James Ingram      1
746                    Maxi Priest      1
747               Domenico Modugno      1

[582 rows x 2 columns]

In [11]:
hit_songs = pd.merge(hit_songs, hit_count, on='artist', how='inner')

In [12]:
hits_40 = hit_songs.loc[(hit_songs['count'] == 1) & (hit_songs['date'] >= 1980)&(hit_songs['date'] <= 2019)]

In [13]:
one_hit_wonders = hits_40[~hits_40['artist'].str.contains('/|&|Featuring|ft')].reset_index()

In [14]:
one_hit_wonders

,index,date,rank,song,artist,last-week,peak-rank,weeks-on-board,count
0,81,2019,33,Without Me,Halsey,34.0,1,52,1
1,86,2018,46,Sad!,XXXTENTACION,45.0,1,38,1
2,89,2018,100,This Is America,Childish Gambino,95.0,1,17,1
3,98,2017,47,Humble.,Kendrick Lamar,50.0,1,37,1
4,115,2016,44,Panda,Desiigner,42.0,1,40,1
...,...,...,...,...,...,...,...,...,...
193,686,1980,99,Funkytown,"Lipps, Inc.",95.0,1,23,1
194,687,1980,94,Another Brick In The Wall (Part II),Pink Floyd,94.0,1,25,1
195,689,1980,93,Escape (The Pina Colada Song),Rupert Holmes,69.0,1,21,1
196,697,1980,96,Babe,Styx,79.0,1,19,1
197,699,1980,100,Pop Muzik,M,59.0,1,24,1

In [18]:
one_hit_wonders.rename(columns={'date': 'release_year'}, inplace=True)

In [20]:
one_hit_wonders.to_csv('../data/one_hit_charts.csv')